<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand] >
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand] >
    <div fxFlex>
      <!-- <mat-list>{{dish.comments[0].rating}}</mat-list> -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 class="underline">Comments</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list *ngFor="let review of dish.comments">
            <mat-list-item>
              <h4 matLine style="font-weight:bold">{{review.comment | json }} </h4>
              <p matLine> {{review.rating}} Stars </p>
              <p matLine> -- {{review.author}} {{review.date | date}} </p>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="commentForm.valid">
            <mat-list-item>
              <h4 matLine style="font-weight:bold">"{{commentForm.value.comment}}"</h4>
              <p matLine> {{ratingSlider.value}} Stars</p>
              <p matLine> -- {{commentForm.value.author}}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>

        <form novalidate [formGroup]="commentForm" #cmtform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf="commentFormErrors.author">
                {{commentFormErrors.author}}
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-slider matInput thumbLabel #ratingSlider tickInterval="1" min="1" max="5" step="1" formControlName="rating"></mat-slider>
          </p>

          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
              <mat-error *ngIf="commentFormErrors.comment">
                {{commentFormErrors.comment}}
              </mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="cmtform.form.invalid">Submit</button>
        </form>
      </mat-card>
    </div>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait!</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>