<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

  <mat-card *ngIf="dish" fxFlex [@expand] >
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <!-- <div [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait!</h4>
  </div> -->

  <mat-card *ngIf="promotion" fxFlex [@expand] >
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ BaseURL + promotion.image }}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <!-- <div [hidden]="promotion">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait!</h4>
  </div> -->

  <mat-card *ngIf="ftLeader" fxFlex [@expand] >
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{ftLeader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ BaseURL + ftLeader.image }}" alt={{ftLeader.name}}>
    <mat-card-content>
      <p>{{ftLeader.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="ftLeader || dish || promotion || dishErrMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait!</h4>
  </div>
  <div fxFlex *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{dishErrMess}}</h4>
  </div>

</div>